<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178072032538-e61kipstqiluf01826tteeaa20b5pkeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178072032538-e61kipstqiluf01826tteeaa20b5pkeu</string>
	<key>API_KEY</key>
	<string>AIzaSyAELrd9rWjAFIjm7jAJLlC1VsDtsdqFzIo</string>
	<key>GCM_SENDER_ID</key>
	<string>178072032538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appantik.Networking-Get-Post</string>
	<key>PROJECT_ID</key>
	<string>networking-get-post</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-get-post.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178072032538:ios:e9cb1b0eeb89b8f99808a3</string>
	<key>DATABASE_URL</key>
	<string>https://networking-get-post-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>